*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: blue;
    display: flex;
    justify-content: center;
    padding: 10px;
    color: white;
}
/* header h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
} */

footer{
    display: flex;
    background-color: rgb(255, 0, 0);
    color: white;
    padding: 10px;
    justify-content: center;
}

main{
    display: flex;
    height: 674px;
    width: 10%;
    /* background-color: aliceblue; */
    /* justify-content: center; */
    /* align-items: center; */
    color: white;
}

main .hero{
    background-color: blueviolet;
    padding: 20px;
    height: 115px;
    width: 27.3%;
    text-align: center;
    margin: 5px;
    margin-right: 2.5px;
    margin-bottom: 2.5px;
    position: absolute;
}
main .main-content{
    background-color: darkgreen;
    width: 66.5%;
    height: 375px;
    text-align: center;
   margin: 5px;
   padding: 20px;
   position: absolute;
   right: 0px;
}
main .sidebar{
    background-color: deeppink;
    text-align: center;
    width: 27.3%;
    height: 360px;
    margin: 5px;
    padding: 20px;
    position: absolute;
    bottom: 105px; ;
}
main .extra-content{
    background-color: darkgoldenrod;
    height: 100px;
    width: 66.5%;
    text-align: center;
    margin:5px;
    padding: 20px;
    position: absolute;
    bottom: 105px;
    /* left: 288.98px; */
    right: 0px;

}
main .r-image{
    background-color: darkslategray;
    height: 80px;
    width: 73.18%;
    text-align: center;
    margin:5px;
    padding: 10px;
    position: absolute;
    bottom: 0px;

}
main .r-post{
    background-color: darkred;
    height: 80px;
    width: 23.15%;
    text-align: center;
    margin:5px;
    padding: 10px;
    position: absolute;
    right: 0px;
    bottom:0px; ;
}